# --- General & OS ---
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# --- Dokumentasi (Strictly Private) ---
docs/

# --- Backend (Go / Gin) ---
/backend/bin/
/backend/main
/backend/server

backend/.env
backend/.env.local

backend/*.log
backend/logs/

backend/tmp/


# --- Others ---
*.out
*.test